*{
    font-family:verdana;
    margin:0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.flex-container{
    display:flex;
    background-color: white;
    flex-wrap: wrap;
    flex-flow: row;
    height: 600px;
    /* align items only applies to the cross scroll-timeline-axis:  */
    /* justify-content only applies to the main axis */
    /* justify-content: center; */ 
    /* justify-content: flex-end; */
    align-items: center;
  }

.box{
    height: 100px;
    flex: 0 0 100px
    /* flex-basis: 500px;
    flex-grow: 1; */ /*this set shrink and base to zeo8?
    flex: 1 0 200px; /* 1 grow 0 shrink 200px basis*/

                    /* min-width: 500px; */
        /* flex basis almost do thesame thing with min-width,
        but flex-basis adjust to screen size while min width
        stick to the fixed size */
}

.one{
    background: rgb(62, 62, 177);
}
.two{
    background: rgb(19, 142, 91);
}
.three{
    background: rgb(229, 92, 18);
}